body { font-family: Arial, sans-serif; background: #111; color: #eee; margin: 0;}
header { background: #e84a4a; padding: 20px; text-align: center; }
h1, h2 { margin: 0; }
#team { padding: 20px; }
li { padding: 5px 0; }
