---
- name: Sync Minikube kubeconfig and certificates to Windows
  hosts: localhost
  gather_facts: no
  vars:
    # Pfade in WSL
    wsl_kubeconfig: "/home/ansible/.kube/config"
    wsl_ca: "~/.minikube/ca.crt"
    wsl_client_crt: "~/.minikube/profiles/minikube/client.crt"
    wsl_client_key: "~/.minikube/profiles/minikube/client.key"

    # Pfade in Windows
    win_kube_dir: "/mnt/c/Users/LG/.kube"
    win_kubeconfig: "/mnt/c/Users/LG/.kube/config"
    win_certs_dir: "/mnt/c/Users/LG/.kube/certs"
    win_minikube: "C:\\\\Users\\\\LG\\\\.kube\\\\certs"

  tasks:

    - name: Ensure Windows kube directory exists
      file:
        path: "{{ win_kube_dir }}"
        state: directory
        mode: "0755"

    - name: Ensure Windows certs directory exists
      file:
        path: "{{ win_certs_dir }}"
        state: directory
        mode: "0755"

    - name: Copy CA certificate to Windows
      copy:
        src: "{{ wsl_ca }}"
        dest: "{{ win_certs_dir }}/ca.crt"
        mode: "0644"

    - name: Copy client certificate to Windows
      copy:
        src: "{{ wsl_client_crt }}"
        dest: "{{ win_certs_dir }}/client.crt"
        mode: "0644"

    - name: Copy client key to Windows
      copy:
        src: "{{ wsl_client_key }}"
        dest: "{{ win_certs_dir }}/client.key"
        mode: "0600"

    - name: Get Minikube IP
      shell: minikube ip
      register: minikube_ip
      changed_when: false

    - name: Copy WSL kubeconfig to Windows
      copy:
        src: "{{ wsl_kubeconfig }}"
        dest: "{{ win_kubeconfig }}"
        mode: "0644"

    - name: Replace client-certificate path in Windows kubeconfig
      replace:
        path: "{{ win_kubeconfig }}"
        regexp: "client-certificate: .*"
        replace: "client-certificate: {{ win_minikube }}\\\\client.crt"

    - name: Replace client-key path in Windows kubeconfig
      replace:
        path: "{{ win_kubeconfig }}"
        regexp: "client-key: .*"
        replace: "client-key: {{ win_minikube }}\\\\client.key"

    - name: Replace certificate-authority path in Windows kubeconfig
      replace:
        path: "{{ win_kubeconfig }}"
        regexp: "certificate-authority: .*"
        replace: "certificate-authority: {{ win_minikube }}\\\\ca.crt"

    - name: Replace server address with Minikube IP
      replace:
        path: "{{ win_kubeconfig }}"
        regexp: "server: .*"
        replace: "server: https://{{ minikube_ip.stdout }}:8443"
