---
- name: Apply cert-manager CRDs (kubectl, robust)
  command: kubectl apply -f https://github.com/cert-manager/cert-manager/releases/latest/download/cert-manager.crds.yaml --timeout=120s
  environment:
    KUBECONFIG: "{{ kubeconfig }}"
  register: crd_apply
  retries: 5
  delay: 10
  until: crd_apply.rc == 0

- name: "Add jetstack repo"
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: https://charts.jetstack.io

- name: "Install/upgrade cert-manager (skip CRDs if exist)"
  kubernetes.core.helm:
    name: cert-manager
    chart_ref: jetstack/cert-manager
    release_namespace: "{{ cert_manager_namespace }}"
    create_namespace: true
    skip_crds: true
    values:
      installCRDs: false
    wait: true
