---
- name: "Apply cert-manager CRDs"
  kubernetes.core.k8s:
    state: present
    src: "https://github.com/cert-manager/cert-manager/releases/download/{{ cert_manager_version }}/cert-manager.crds.yaml"

- name: "Add jetstack repo"
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: https://charts.jetstack.io

- name: "Install/upgrade cert-manager (skip CRDs if exist)"
  kubernetes.core.helm:
    name: cert-manager
    chart_ref: jetstack/cert-manager
    release_namespace: "{{ cert_manager_namespace }}"
    create_namespace: true
    skip_crds: true
    values:
      installCRDs: false
    wait: true
